<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">New Item</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input ng-model="item.name" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="addItem(item); item = {}; modal.hide()">Add</button>
        </div>
    </ion-content>
</ion-modal-view>
